.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.icon-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.loader-text {
    margin-top: 16px;
    font-size: 18px;
    color: #1976d2; /* Primary color */
}
