.banner {
    background-image: linear-gradient(to right , #b6b5d8 ,#000000 );
    height: 100vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.banner > h1 {
    margin: 5vmax;
    font-size: xxx-large;
}
.banner > p {
    font-size:x-large;
}
.banner > a > button {
    margin-bottom :5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
}
.banner > a > button:hover{
    background-color: #3027ae;
    color: white ;
}
.homeheading{
    text-align: center;
    font-size: 1.4vmax;
    border-bottom: 1px solid black;
    width: 20vmax;
    padding: 1vmax;
    margin:  5vmax auto;
}
.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.productcard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}
.productcard > img {
    width: 14vmax;

}
.productcard > div{
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
}

.productcard > div > span{
    margin: 0.5vmax;
    font-size: 300;
}

.productcard > p{
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productcard > span{
    font-size: 1.2vmax;
    margin: 0.5vmax 0.5vmax;
    color: tomato;
    font-size: 1vmax;
    margin-bottom: 0;
}
.hiverbox :hover {
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
}

@media screen and (max-width: 600px)
{
    .productcard > p {
        font-size: 1.7vmax;
    }
    .productcard > div {
        margin: 0vmax;
        display: block;
    }

    .productcard > div > span{
        margin: 0 0.5vmax;
        font: 300 1vmax;
    }
}